# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#visual studio
Debug
*.sln
.vs
*.vcxproj.*
*.vcxproj

*
!/**/
!*.*
*.db
*.sln
*.tlog
*.pdb
*.idb
*.exe
*.log
*.vcxproj
*.sln
.vs
*.vcxproj.*
*.vcxproj
*.obj
*.ilk
*.exe.*
*.obj.*
*.plist
#컴파일 설정 파일
launch.json
tasks.json
.DS_Store
test.*
